html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background: linear-gradient(180deg, rgb(0, 154, 214) 0%, rgb(255, 255, 255) 100%);
    background-attachment: fixed;
}
.main {
    height: 600px;
    text-align: center;
    margin: 200px auto;
    font-size: 2.3rem;
    color: white;
}
.title {
    margin-bottom: 20px;
}
.main h3{
    font-weight: 500;
}
.newBookBtn{
    color: white;
    background-color: rgb(19, 45, 94);
    padding: 15px 30px;
    font-size: 1.7rem;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.newBookBtn:hover {
    background-color: rgb(12, 34, 75);
    transition: 0.2s ease-in-out;
}
.bookForm {
    display: none;
    position: absolute;
    z-index: 1;
    width: fit-content;
    background-color: rgb(243, 243, 243);
    color: black;
    padding: 0px 40px;
    padding-bottom: 70px;
    border-radius: 30px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1000px;
    font-size: 2.3rem;
}
.bookForm div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.bookForm label{
    margin-right: 10px;
    font-weight: 500;
}
.bookForm input{
    width: 400px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: 0;
}
.checkBoxDiv {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.checkBoxDiv input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0;
}
.checkBoxDiv h4 {
    font-weight: 500;
    margin-right: auto;
    margin-left: 0px;
}
.sendBtn {
    padding: 15px 30px;
    font-size: 1.7rem;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    background-color: rgb(19, 45, 94);
    color: white;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-right: 0;
    margin-left: auto;
}
.sendBtn:hover {
    background-color: rgb(12, 34, 75);
    transition: 0.2s ease-in-out;
}
.closeBookFormBtn {
   display: flex;
   margin-left: auto;
   margin-right: 0;
   margin-top: 10px;
   margin-bottom: 60px;
   border: none;
   font-size: 3rem;
   margin-right: -20px;
   cursor: pointer;
}
.books {
    display: grid;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
}
.addedBook {
    width: fit-content;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 40px 30px;
    transition: 0.4s ease-in-out;
    box-shadow: rgb(0, 0, 0, 0.2) 0 0 40px 2px;
    margin-bottom: 30px;
}
.addedBook:hover {
    scale: 1.1;
    transition: 0.4s ease-in-out;
}
.addedBookButtons{
    display: flex;
    gap: 20px;
}
.addedBookButtons button {
    color: white;
    background-color: rgb(19, 45, 94);
    padding: 8px 30px;
    font-size: 1.5rem;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.addedBookButtons button:hover {
    background-color: rgb(12, 34, 75);
    transition: 0.2s ease-in-out;
}
.addedBook h3{
    margin-bottom: 8px;
}
.addedBook h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.addedBook p {
    font-size: 1.7rem;
}
.addedBook input {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid gray;
}